<div class="component__inner game__inner">

  {{> component this}}

  <div class="component__widget game__widget">

    <div class="game__image-container{{#if _game.attribution}} has-attribution{{/if}}">

      <div class="game__image js-game-set-image-src pic" src="{{_game.src}}" data-large="{{_game.large}}" data-small="{{_game.small}}" {{#if _game.alt}}aria-label="{{{compile_a11y_normalize _game.alt}}}"{{else}}aria-hidden="true"{{/if}}>
      	<div class="game__image js-game-set-image-src pic_1" src="{{_game.src}}" data-large="{{_game.large}}" data-small="{{_game.small}}" {{#if _game.alt}}aria-label="{{{compile_a11y_normalize _game.alt}}}"{{else}}aria-hidden="true"{{/if}}></div>
      </div>

      {{#if _game.attribution}}
      <div class="component__attribution game__attribution">
        <div class="component__attribution-inner game__attribution-inner">
          {{{_game.attribution}}}
        </div>
      </div>
      {{/if}}

    </div>

  </div>

</div>