<div class="component__inner game__inner">

  {{> component this}}

  <div class="component__widget game__widget">

    <div class="game__image-container{{#if _game.attribution}} has-attribution{{/if}}">

      <div class="game__image js-game-set-image-src game_1" src="{{_game.src}}" data-large="{{_game.large}}" data-small="{{_game.small}}" {{#if _game.alt}}aria-label="{{{compile_a11y_normalize _game.alt}}}"{{else}}aria-hidden="true"{{/if}}>
      	<div class="game__image js-game-set-image-src block_1" src="{{_game.src}}" data-large="{{_game.large}}" data-small="{{_game.small}}" {{#if _game.alt}}aria-label="{{{compile_a11y_normalize _game.alt}}}"{{else}}aria-hidden="true"{{/if}}>
      		<div class="game__image js-game-set-image-src" style="display:flex" src="{{_game.src}}" data-large="{{_game.large}}" data-small="{{_game.small}}" {{#if _game.alt}}aria-label="{{{compile_a11y_normalize _game.alt}}}"{{else}}aria-hidden="true"{{/if}}>
      			<div class="game__image js-game-set-image-src count-text" src="{{_game.src}}" data-large="{{_game.large}}" data-small="{{_game.small}}" {{#if _game.alt}}aria-label="{{{compile_a11y_normalize _game.alt}}}"{{else}}aria-hidden="true"{{/if}}>ОЧКИ:</div>
      			<div class="game__image js-game-set-image-src count" id="count" src="{{_game.src}}" data-large="{{_game.large}}" data-small="{{_game.small}}" {{#if _game.alt}}aria-label="{{{compile_a11y_normalize _game.alt}}}"{{else}}aria-hidden="true"{{/if}}>0</div>
      		</div>
      		<div class="game__image js-game-set-image-src question" src="{{_game.src}}" data-large="{{_game.large}}" data-small="{{_game.small}}" {{#if _game.alt}}aria-label="{{{compile_a11y_normalize _game.alt}}}"{{else}}aria-hidden="true"{{/if}}>
      			<div class="game__image js-game-set-image-src pic" src="{{_game.src}}" data-large="{{_game.large}}" data-small="{{_game.small}}" {{#if _game.alt}}aria-label="{{{compile_a11y_normalize _game.alt}}}"{{else}}aria-hidden="true"{{/if}}></div>
      			<div class="game__image js-game-set-image-src text_1" id="text" src="{{_game.src}}" data-large="{{_game.large}}" data-small="{{_game.small}}" {{#if _game.alt}}aria-label="{{{compile_a11y_normalize _game.alt}}}"{{else}}aria-hidden="true"{{/if}}>Домашний театр</div>
      		</div>
      		<div class="game__image js-game-set-image-src button" src="{{_game.src}}" data-large="{{_game.large}}" data-small="{{_game.small}}" {{#if _game.alt}}aria-label="{{{compile_a11y_normalize _game.alt}}}"{{else}}aria-hidden="true"{{/if}}>
      			<div class="game__image js-game-set-image-src button_1" src="{{_game.src}}" data-large="{{_game.large}}" data-small="{{_game.small}}" {{#if _game.alt}}aria-label="{{{compile_a11y_normalize _game.alt}}}"{{else}}aria-hidden="true"{{/if}}>ЭТО ЕСТЬ</div>
      			<div class="game__image js-game-set-image-src button_2" src="{{_game.src}}" data-large="{{_game.large}}" data-small="{{_game.small}}" {{#if _game.alt}}aria-label="{{{compile_a11y_normalize _game.alt}}}"{{else}}aria-hidden="true"{{/if}}>ВОТ ЭТОГО НЕТ</div>
      		</div>
      			<div class="game__image js-game-set-image-src usage" src="{{_game.src}}" data-large="{{_game.large}}" data-small="{{_game.small}}" {{#if _game.alt}}aria-label="{{{compile_a11y_normalize _game.alt}}}"{{else}}aria-hidden="true"{{/if}}>Отвечать можно стрелочками клавиатуры ← влево и вправо →<br>или перетаскивать мышкой</div>
      	</div>
      </div>

      {{#if _game.attribution}}
      <div class="component__attribution game__attribution">
        <div class="component__attribution-inner game__attribution-inner">
          {{{_game.attribution}}}
        </div>
      </div>
      {{/if}}

    </div>

  </div>

</div>